header{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top:20px;
}
#demo .anima img{
    animation: move 1.5s linear 2s infinite;
}
@keyframes move{
    0%{
       transform: translateX(0px); 
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}

.anima{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
}
.anima img{
    color: black;
}
header nav ul li a{
    color:white !important;
    padding: 20px 25px !important;
}
header nav ul{
    border-bottom: 1px rgba(255, 255, 255, 0.247) solid;
}
header nav ul li{
    position: relative;
}
header nav ul li.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background:linear-gradient(to right,#fbbd61,#ec7532);
    bottom: 0;
    position: absolute;
}
header nav ul li::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background:linear-gradient(to right,#fbbd61,#ec7532);
    bottom: 0;
    position: absolute;
    transition:all 0.5s;
}
header nav ul li:hover::after{
    width: 100%;

}
#demo .carousel-inner .carousel-item{
   
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
}
.carousel-inner .item1{
    background-image: url(./cinema-layout/img/hero-1.jpg);
}
.carousel-inner .item2{
    background-image: url(./cinema-layout/img/hero-2.jpg);
}
.carousel-inner .item3{
    background-image: url(./cinema-layout/img/hero-3.jpg);
}
#demo ul li{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0.5px white solid;
    border-radius: 50%;
    transition: all 0.5s;
}
#demo ul li.active{
    background: white;
}
#demo ul{
    justify-content: flex-start;
}
.btn-trailer{
    color: white;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    padding: 10px 20px;
    border-radius: 40px;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}
.btn-trailer::after{
    content: "";
    display: block;
    height: 100%;
    width: 0;
    background: #ec7532;
    position: absolute;
    top: 0;
    left: -15%;
    transform: skewX(30deg);
    transition: all 0.5s; 
}
.btn-trailer i,
.btn-trailer span{
    position: relative;
    z-index: 1;
}
.btn-trailer:hover::after{
    width: 120%;
    color: white;
}
.btn:hover{
    color: white!important;
}
/* new in */
#newin{
    margin-top: 5rem;
}
#newin .title__heading{
    text-transform: uppercase;
    color: #ec7532;
    border-bottom: 1px rgba(0, 0, 0, 0.123) solid ;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    font-size: 3rem;
}
.star,.star2,.star3{
    color: #fbbd61;
}
.star2 i.no,.star3 i.no{
    color: #d8d8d8;
}
.bd{
    position: relative;
}
.textmovie{
    position: absolute;
    top: 35%;
    left: 20%; 
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}
.textmovie a{
    border: 2px white solid;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s;
}
.textmovie i{
    margin-bottom: 50px;
    height: 15px;
    width: 15px;
}
.textmovie h4{
    letter-spacing: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.bd{
    overflow: hidden;
    border-radius: 5%;
}
.bd::after{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(to right, #fbbd61e7,#ec7632e8);
    height: 130%;
    width: 0;
    top: 0;
    left: -18%;
    transform: skewX(20deg);
    transition: all 0.5s;
}
.bd:hover::after{
    width: 150%;
}
.bd:hover .textmovie{
    opacity: 1; 
}
.textmovie a:hover{
    padding: 25px;
}

@media screen and (max-width:992px){
    .title__heading{
        font-size: 2rem !important;
    }
}
@media screen and (max-width:576px){
    .title__heading{
        font-size: 1rem !important;
    }
}
.title__heading::after{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 10%;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    bottom: 0;
}
.slick-prev::before,
.slick-next::before{
    color: #ec7532;
}
.pill ul{
    border-bottom: 1px rgba(0, 0, 0, 0.329) solid;
    margin-bottom: 40px;
}
.pill ul li a{
    color: black !important;
    font-size: 20px;
    letter-spacing: 2px;
    background: transparent!important;
    
    border-radius: 0!important;
    padding: 0 ;
}
.pill ul li a.active{
    color: #ec7532!important;
}
.pill ul li a{
    position: relative;
    display: block;
    padding: 10px 30px 15px;
}
.pill ul li a.active{
    text-decoration: underline;
}
.pill ul li a.active:hover {
    text-decoration: none;
}
.pill ul li a.active::after{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    bottom:-1px;
    left: 0;
}
.pill ul li a::after{
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 0;
    background:linear-gradient(to right, #fbbd61,#ec7532);
    bottom: -1px;
    left:0;
    transition: all 0.5s;
}
.pill ul li a:hover::after{
    width: 100%;
}
.line{
    border-bottom: 2px rgba(0, 0, 0, 0.212) solid;
    margin-bottom: 50px;
}

.tab-content h1{
    color: #ec7532;
    font-size: 14px;
    letter-spacing: 2px;
}
.tab-content h3{
    font-size: 25px;
    letter-spacing: 2px;
}
.tab-content a.btn{
    color: #ec7532;
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.tab-content a.btn:hover{
    color: black !important;
}
.tab-content .row .col-md-3 img{
    border-radius: 10%;
    height: 80%;
}
.tab-content .row .col-md-10 span:nth-child(1){
    font-size: 14px;
}
.overtime{
    opacity: 0.5;
}
.tab-content .row .col-md-10 span:nth-child(3)
,.tab-content .row .col-md-10 span:nth-child(4)
,.tab-content .row .col-md-10 span:nth-child(5)
,.tab-content .row .col-md-10 span:nth-child(6){
    border: 2px transparent solid;
    border-radius: 10%;
    color: #717171;;
    background-color:#d8d8d8;
    margin-left: 5px;
    padding: 7px 10px;
}
.tab-content .row .col-md-2 span:nth-child(1){
    font-size: 14px;
    letter-spacing: 2px;
}
.tab-content .row .col-md-2 span:nth-child(2){
    border: 2px transparent solid;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 5px;
}







